.Order {
    width:80%;
    border:1px solid #ccc;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    margin-top: 10px auto;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.Span {
    text-transform: capitalize;
    display: 'inline-block';
    margin: '0 8px';
    border:'1px solid grey';
}